body{
	margin: 0px;
}
/*navbar and logo section */
.logo-nav{ display: flex; }
.navbar ul{
	display: flex;
}
.navbar ul li{
	list-style: none;
	text-decoration: none;
	padding: 2px 33px;
}
.navbar ul li a{
	text-decoration: none;
	color: black;
}
.navbar ul li a:hover{
   border-radius: 20px;
	color: red;
}
.navbar a.active {
  background-color: white;
  color: red;
}

/*Home section*/
#section1{
	margin: 5% 20%;
}
.hm1{}
.hm1 h1{
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    margin-top: 5%;
    color: grey;
    margin-bottom: 0px;
    font-family: serif;
}
 .hm1 h1:after {
    position: absolute;
    top: 69%;
    left: 18%;
    overflow: hidden;
    width: 7%;
    height: 2px;
    content: '\a0';
    background-color: red;
}
.hm1 h2{
	font-size: 45px;
	font-family: inherit;
	font-weight: 12px;
}
.hm1 p{
	font-size: 19px;
	font-family: serif;
	color: black;
	opacity: 0.75;
	font-weight: 332px;
	letter-spacing: 0.01px;
}
.hm1 .btn{
	border:1px solid darkgray;
	border-radius: 32px;
	height: 49px;
	margin-top: 23px;
	width: 134px;
	background-color: transparent;
}
.hm1 .btn:hover{
background-color: black;
color: white;
}
.row-hm {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}
.column-hm1{
  flex: 50%;
  max-width: 40%;
  padding-right:34px;
}
.column-hm2{
  flex: 50%;
  max-width: 30%;
  padding-left:14%;
  margin-top: 0px;
}
.column-hm2 img{
  height: 88%;
 margin-right: auto;
}

/*portfolio sectio*/
#section2{
	margin: 5% 20%;
}
.heading-s{
	display: flex;
}
.heading-s .navbar{
	margin-left: 200px;
	margin-top: 29px;
}
.heading-s h1{
	font-size: 40px;
	
}
.heading-s ul{
		
}
.heading-s .navbar ul li{
	font-size: 12.6px;
	padding: 11px;

}
.heading-s .navbar ul li a {
 	color: grey;

 }
 .heading-s .navbar ul li a:hover{
 	color: white;
 	background-color: grey;
 }

.heading-s .navbar ul li .active{
 	color: black;
 	background-color: white;
 }
.portfolio h2{
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    color: grey;
    margin-bottom: 0px;
    font-family: serif;
}
 .portfolio h2:after {
    position: absolute;
    top: 64%;
    left: 10%;
    overflow: hidden;
    width: 4.5%;
    height: 3px;
    content: '\a0';
    background-color: red;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}
.gal1{
	margin-top: 7px;
 
}

.column{
  flex: 25%;
  max-width: 30%;
  padding: 0 4px;
}
.im1 img{
	height: 99%;
	width:30%; 
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

}


/*Blog section*/
#section3{
	margin: 5% 10%;
}
.column-blog h1{
	margin-top: 14%;
    position: relative;
    font-size: 27px;
    z-index: 1;
    overflow: hidden;
    color: grey;
    margin-bottom: 0px;
    font-family: serif;
}
 .column-blog h1:after {
    position: absolute;
    top: 67%;
    left: 15%;
    overflow: hidden;
    width: 7%;
    height: 3px;
    content: '\a0';
    background-color: red;
}
.column-blog h2{
	font-size: 40px;
	font-family: inherit;
}
.column-blog h3{
	color: grey;
	margin-top: 5%;
	font-size: 15px;
	letter-spacing: 2px;
}
.column-blog h4{
	font-size: 37px;
	word-spacing: 3px;
}
.column-blog p{
	font-size: 16px;
	color: grey;
}
.column-blog .btn{
	border-style: none;
	background-color: transparent;
	color: red;
	margin-top: 29px;
	font-size: 14px;
}
.column-blog .btn:hover{
	color: darkcyan;
}
.column-blog img{
	margin-top: 52%;
	
}
.row-blog {
  display: flex;
  margin-top: 45px;
}

.column-blog {
  flex: 45%;
  margin-left: 14%;
}

.column-blog1 h2{
	font-size: 40px;
	font-family: inherit;
}
.column-blog1 h3{
	color: grey;
	margin-top: 5%;
	font-size: 15px;
	letter-spacing: 2px;
}
.column-blog1 h4{
	font-size: 37px;
	word-spacing: 3px;
}
.column-blog1 p{
	font-size: 16px;
	color: grey;
}
.column-blog1 .btn{
	border-style: none;
	background-color: transparent;
	color: red;
	margin-top: 29px;
	font-size: 14px;
}
.column-blog1 .btn:hover{
	color: darkcyan;
}
.column-blog1 img{
	margin-top: 12%;
	
}
.row-blog1 {
  display: flex;
  margin-top: 45px;
}

.column-blog1 {
  flex: 45%;
  margin-left: 10%;
}
.art{
	background-color: transparent;
	border-radius: 22px;
	border:1px solid grey;
	text-align: center;
	height: 44px;
	width: 159px;
	margin-top: 10%;
	font-size: 16px;
	padding: 5px 10px;
}
.art:hover{
	background-color: darkcyan;
	color: white;
}
/*contact section*/
.contact1{
	margin-left: 6%;
	margin-top: 65px;
}
.contact1 h1{
	margin-top: 4%;
    position: relative;
    font-size: 27px;
    z-index: 1;
    overflow: hidden;
    color: grey;
    margin-bottom: 0px;
    font-family: serif;
    letter-spacing: 0.2px;
}
 .contact1 h1:after {
    position: absolute;
    top: 67%;
    left: 10%;
    overflow: hidden;
    width: 5%;
    height: 3px;
    content: '\a0';
    background-color: red;
}
.contact-s h2{
	font-size: 37px;
}
.contact-s p{
	font-size: 39px;
	margin-top: 6%;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
   border:1px solid grey;
  margin-bottom : 23px;
}

#contact-box form{
    width: 100%;

}

#contact-box label{
  font-size: 1.3rem;
font-family: cursive;
 height: 46%;
 width: 77%;
}
.row2 {
  display: flex;
  margin-top: 45px;
}

.co3 {
  flex: 50%;
  margin-left: 8%;
}
.co31 {
  flex: 50%;
  margin-right: 30px;
}
.co31 .btn{
	border-style: none;
	background-color: black;
	color: white;
	border-radius: 34px;
	width: 198px;
	height: 54px;
	font-size: 23px;
	margin-top: 34px;
}
.co31 .btn:hover{
   background-color: grey;
}

/*footer*/
.foot{
	font-size: 13px;
	color: grey;
	margin-left: 19%;
	margin-top: 45px;
}
