.column-hm2 img{
  height: 100px;
  width: 250px;
  margin-left: 291px;
  margin-right: auto;
}
.column-hm1 h1{
	width: 400px;
	margin-top: 100px;
}
.column-hm1 h2{
	width: 400px;
}
.column-hm1 p{
	width: 400px;
}
.portfolio h2{
	width: 780px;
}
.gal1{
	margin-top: 16px;
    width: 734px;
}
.column-blog h1{
	width: 400px;
}
.column-blog img{
   width: 248px;
   height: 400px;
	}
.column-blog1 img{
	 width: 288px;
	 margin-right: 58px;
   height: 400px;
}
.cm1 h3{
	width: 258px;
}
.art{
	margin-left: 193px;
}
.co31 form{
     width: 56px;
     margin-left: 270px;
}
.co3 form{
	width: 65px;
	margin-left: 200px;
}
.contact-s h1{
	width: 937px;
	margin-left: 99px;
}
.contact-s{
	width:298px;
	margin-left: 180px;
}